[alias]
    a = add
    aa = add -A
    br = branch
    c = commit
    cm = commit -m
    co = checkout
    d = diff
    s = status
    l = log --oneline --all --graph --decorate
[commit]
    gpgsign = true