! --- ROFI ---
rofi.font: System San Francisco Display 30
rofi.fullscreen: true
rofi.width: 50
rofi.padding: 300
rofi.location: 0
rofi.bw: 0
rofi.eh: 1
rofi.fixed-num-lines: true
rofi.lines: 5
rofi.color-enabled: true
rofi.color-window: argb:aa263238, argb:aa263238, #26a69a
rofi.color-normal: argb:0263238, #eceff1, argb:0263238, #f4246b, #eceff1
rofi.color-active: #fdf6e3, #268bd2, #eee8d5, #268bd2, #fdf6e3
rofi.color-urgent: #fdf6e3, #dc322f, #eee8d5, #dc322f, #fdf6e3

! --- URXVT ---
URxvt.font: xft:Ubuntu Mono:size=14
URxvt.scrollBar: false

URxvt*background: #192226
URxvt*foreground: #eceff1
URxvt*cursorColor: #eceff1

URxvt.keysym.Shift-Control-V:perl:clipboard:paste
URxvt.iso14755: False

URxvt.perl-ext-common: default,clipboard

! special
*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  #c5c8c6
 
! black
*.color0:       #263238
*.color8:       #37474f
 
! red
*.color1:       #cc342b
*.color9:       #cc342b
 
! green
*.color2:       #8bc34a
*.color10:      #9ccc65
 
! yellow
*.color3:       #ffc107
*.color11:      #ffa000
 
! blue
*.color4:       #03a9f4
*.color12:      #81d4fa
 
! magenta
*.color5:       #EF4981
*.color13:      #ad1457
 
! cyan
*.color6:       #009688
*.color14:      #26a69a
 
! white
*.color7:       #cfd8dc
*.color15:      #eceff1
